<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-License-Identifier: GPL-2.0-only -->
<!-- SPDX-FileCopyrightText: 2026 Adam Girardo <adamjohngirardo@gmail.com> -->
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="org.padreadamo.tumbleweedupdater.refresh">
    <description>Refresh openSUSE Tumbleweed repository metadata</description>
    <message>Authentication is required to refresh repository metadata.</message>

    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>

    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/twu-ctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">refresh</annotate>
  </action>

  <action id="org.padreadamo.tumbleweedupdater.rollback">
    <description>Roll back system to a Snapper snapshot</description>
    <message>Authentication is required to roll back the system to a previous snapshot.</message>

    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>

    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/snapper</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">rollback</annotate>
  </action>

  <action id="org.padreadamo.tumbleweedupdater.apply">
    <description>Apply openSUSE Tumbleweed updates</description>
    <message>Authentication is required to apply system updates.</message>

    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>

    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/twu-ctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">apply</annotate>
  </action>

  <action id="org.padreadamo.tumbleweedupdater.enable-unattended">
    <description>Enable unattended Tumbleweed updates</description>
    <message>Authentication is required to let Tumbleweed Updater check for and apply updates without prompting for your password each time.</message>

    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>

    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/twu-ctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">enable-unattended</annotate>
  </action>

  <action id="org.padreadamo.tumbleweedupdater.disable-unattended">
    <description>Disable unattended Tumbleweed updates</description>
    <message>Authentication is required to require a password prompt again for Tumbleweed Updater's refresh and apply actions.</message>

    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>

    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/twu-ctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">disable-unattended</annotate>
  </action>

  <action id="org.padreadamo.tumbleweedupdater.import-repo-key">
    <description>Import an updated repository signing key</description>
    <message>Authentication is required to import a repository's updated GPG signing key.</message>

    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>

    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/twu-ctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">import-repo-key</annotate>
  </action>

  <action id="org.padreadamo.tumbleweedupdater.apply-skip-repo">
    <description>Apply Tumbleweed updates while skipping a broken repository</description>
    <message>Authentication is required to apply system updates while temporarily skipping a repository that failed to refresh.</message>

    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>

    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/twu-ctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">apply-skip-repo</annotate>
  </action>
</policyconfig>
