# SPDX-License-Identifier: GPL-2.0-only
# SPDX-FileCopyrightText: 2026 Adam Girardo <adamjohngirardo@gmail.com>

[Unit]
Description=Tumbleweed Updater background check
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/twu-ctl-notify
