# SPDX-License-Identifier: GPL-2.0-only
# SPDX-FileCopyrightText: 2026 Adam Girardo <adamjohngirardo@gmail.com>

[Unit]
Description=Tumbleweed Updater periodic update check
Wants=tumbleweed-updater-check.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=24h
Persistent=true

[Install]
WantedBy=timers.target
