[Unit]
Description=Tumbleweed Updater background check
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/twu-ctl-notify
